body{
    font-family: 'Poppins', sans-serif;
    background-image: url(bg.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
@media (min-width: 800px){
    body{
        /* Your styling goes here */
        background-size: 100vw 100vh;
    }
}
.word{
    font-size: 2rem;
    margin-bottom:  1.5rem;
    color: white;
}
.hidden{
    display: none;
}
.title{
    margin: auto;
    font-size: 2rem;
}
.container{
    margin-bottom: 2rem;
}