body{
    font-family: 'Poppins', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.word{
    font-size: 2rem;
    margin-bottom:  1rem;
    color: white;
}
.hidden{
    display: none;
}
.title{
    margin: auto;
    font-size: 2rem;
}
.container{
    margin-bottom: 2rem;
}
.list-overflow{
    overflow: scroll;
    height: 17rem;
}